{% extends 'ak_app/layout.html' %}
{% load static %}
{% load customtags %}
{% block title %}Accolades{% endblock %}
{% block body %}
    <section id="reviews" class='mb-5 mt-5'>
        <div id="carouselReviews"
             class="carousel carousel-dark slide"
             data-bs-ride='carousel'>
            <div class="carousel-indicators">
                <button type="button"
                        data-bs-target="#carouselReviews"
                        data-bs-slide-to="0"
                        class="active"
                        aria-current="true"
                        aria-label="Slide 1"></button>
                <button type="button"
                        data-bs-target="#carouselReviews"
                        data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button"
                        data-bs-target="#carouselReviews"
                        data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                <button type="button"
                        data-bs-target="#carouselReviews"
                        data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                <button type="button"
                        data-bs-target="#carouselReviews"
                        data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
                <button type="button"
                        data-bs-target="#carouselReviews"
                        data-bs-slide-to="5"
                        aria-label="Slide 6"></button>
            </div>
            <div class="carousel-inner align-center">
                <div class="carousel-item active">
                    <div class="carousel-content m-auto text-center align-center d-block w-50 h-100 m-auto text-center align-center">
                        "<em>The relatively diminutive scale of the art world in Krupa's native Croatia has only compounded the High Modernist tendency that runs throughout his work.
                        Unlike most artists working Krupa can make a genuine claim to
                        being avant-garde—if only because the sulfurous vapors of war, and existential sufferings following a corrupt and disrespectful post-war establishment, seem to emanate from his handling of ink,
                        making it less an artistic medium and more like an advanced technology documenting the nervous tremors that attend our awareness of inner and outer conflicts. </em>"
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="mb bottom-0 carousel-caption d-none d-md-block">
                        <small><strong>Jeffrey Grunthaner</strong> - a curator and the Berlin editor of Noah Becker's WhiteHot Magazine of Contemporary Art, New York</small>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-content text-center align-center d-block w-50 h-100 m-auto">
                        "<em>Alfred Freddy Krupa, the creator of the New Ink Art Manifesto, is considered a pivotal figure in the Western New Ink Art movement.
                    </em>"
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="mb bottom-0 carousel-caption d-none d-md-block">
                    <small><strong>Milica Jovic</strong> - a contributing writer for Highlark Magazine - New York and Art Acacia Gallery & Advisor</small>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-content text-center align-center d-block w-50 h-100 m-auto">
                    "<em>In his art, Alfred Krupa masterfully and succinctly combines the minimalism of the East, with the sensual expression characteristic of a Western artist. His work erases conventional boundaries and expands and enriches the viewer's perception. At the same time, the art of Alfred Krupa betrays the artist's very personal, subjective experiences. So, by studying the works of Alfred Freddy Krupa, the viewer can not only enjoy the visual aesthetics of plastic lines and the harmony of composition but also try to comprehend the deep experience of the creative soul.</em>"
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="mb bottom-0 carousel-caption d-none d-md-block">
                    <small><strong>Yuliana Arles</strong> - a journalist and gallerist, YV Art Spot - Poland</small>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-content text-center align-center d-block w-50 h-100 m-auto">
                    "<em>Multidisciplinary artist Alfred Freddy Krupa is considered a pioneering force in the New Ink Art movement, for which he has gained international recognition. He combines the formal and reductive techniques of the East with Western expressionism. In doing so, the artist evokes both delicacy and bold movements across the paper. Krupa’s works are part of a number of collections including the Tate Library’s Special Collections.</em>"
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="mb bottom-0 carousel-caption d-none d-md-block">
                    <small><strong>Aesthetica Magazine editorial</strong> - York, United Kingdom</small>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-content text-center align-center d-block w-50 h-100 m-auto">
                    "<em>In his manifesto (New Ink Art Manifesto, 1996, publ. 2019) Krupa describes his ink painting as an interpretation of Western modern art with the means of East Asian ink technique, as a combination of contemporary painting and traditional Chinese-Japanese calligraphy. In this regard, he is considered the leading representative of Modern European ink painting.</em>"
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="mb bottom-0 carousel-caption d-none d-md-block">
                    <small><strong>Steffen Stolz</strong> - The Allgemeines Kunstlerlexikon - World Biographical Dictionary of Artists editorial, Berlin, Germany </small>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-content text-center align-center d-block w-50 h-100 m-auto">
                    "<em>Alfred Krupa, Croatia, got in 1998 a scholarship at the Tokyo Gakugei University and studied Japanese painting...The Japanese influence is obvious in the lines and in the way the brush paints trees and landscapes. Also the differentiation of grey minds of the Japanese masters. But sometimes Krupa solves himself from the connection to landscape and nature forms and he gives the brush free movements which seem to be near the European Informel. In a  certain way, Krupa's work is a bridge between the Japanese and European painting of today.</em>"
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="mb bottom-0 carousel-caption d-none d-md-block">
                    <small><strong>Jürgen Weichardt Ph.D.</strong> - an art critic and a curator at the Oldenburger Kunstverein, Oldenburg, Germany</small>
                </div>
            </div>
        </div>
        <button class="d-none carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="d-none carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<section id="awards" class='text-center align-center mt-5'>
    <p class='mb-5'>Awards, Recognitions, Orders, and Medals</p>
    <div class='text-center align-center mb-3 mt-3'>
        <sp><small><strong><em></em>
        2023
    </strong></small></sp   an>
    <ul class='text-center align-center'>
        <li>World's Record Setter, longest ink drawing drawn using swan and goose feathers/spathe &bullet; USA</li>
    </ul>
</div>
<div class='text-center align-center mb-3 mt-3'>
    <span><small><strong><em></em>
        2022
    </strong></small></span>
    <ul class='text-center align-center'>
        <li>Gold List of the Top Contemporary Artists of 2022, Art Market Magazine with Redwood Media Group &bullet; USA</li>
        <li>
            Art Expo &bullet; Germany
        </li>
        <li>
            Biennale de Florence &bullet; Italy
        </li>
        <li>
            First prize in the International Art Award New Generations 2022 &bullet; USA
        </li>
        <li>
            Circle Foundation For The Arts - Prix d'excellence &bullet; France
        </li>
        <li>
            Invited member of the international jury (KEFIR int. Exhibition), Galleria delle cornici on the Lido of Venice &bullet; Italy
        </li>
        <li>
            The second highest number of votes, 1st Singulart Award Artist of the Year competition &bullet; France
        </li>
    </ul>
</div>
<div class='text-center align-center mb-3 mt-3'>
    <span><small><strong><em></em>
        2021
    </strong></small></span>
    <ul class='text-center align-center'>
        <li>
            ICCPS Annual Exhibition - Modern Ink Painting Art Award &bullet; Japan
        </li>
        <li>
            American Art Awards - category EXPRESSIONISM – HUMAN FIGURE- 6th Prize &bullet; USA
        </li>
        <li>
            The honor of a higher doctorate of Doctor of Arts (DArt) in Fine Arts in the field of research: Practice and theory of modern ink painting, Internation Art Academy and Society &bullet; Greece
        </li>
        <li>
            Honorary member of the International Art Academy &bullet; Greece
        </li>
    </ul>
</div>
<div class='text-center align-center mb-3 mt-3'>
    <span><small><strong><em></em>
        2020
    </strong></small></span>
    <ul class='text-center align-center'>
        <li>
            Artist of the Year 2020 (13th International InterArtia Festival, International Art Academy and Society) &bullet; Greece
        </li>
        <li>
            First World Award in Painting (13th International InterArtia Festival, International Art Academy and Society) &bullet; Greece
        </li>
        <li>
            Selected Participating Artist, The David Labkovski Project Reflect and Respond – In commemoration of Holocaust Remembrance Day &bullet; USA
        </li>
        <li>
            Selected Participating Artist, #closedooropencall, The 1111 Gallery &bullet; Hungary
        </li>
        <li>
            Selected Participating Artist, The COVID Arts Project &bullet; USA
        </li>
        <li>
            Grand Prize Winner - Artist of the Month / December &bullet; USA
        </li>
        <li>
            Top Artists of Today (Art Award, Art Market Magazine) &bullet; Israel
        </li>
    </ul>
</div>
</section>
{% endblock %}
